body {
  background-color: tan;
}

@media (max-width: 1024px) {
  body {
    background-color: limegreen;
  }
}

@media (max-width: 768px) {
  body {
    background-color: purple;
  }
}
@media (max-width: 680px) {
  body {
    background-color: blue;
  }
}
